#body_div{
    background-color: orange;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li{
    list-style: none;
}

div.navbar{
    background-color: green;
}

body{
    background-image: url("/static/media/unicorn.jpg");
    background-repeat: repeat;
}

.list_posts{
    padding: 1%;
}

.post_list{
    border-style: dotted;
    border-width: 1px;
    border-color: grey;
}

.post_container{
    padding: 1%;
}

.post{
    border-style: solid;
    border-color: grey;
    background-color: aquamarine;
}

.post_title{
    border-style: solid;
    border-color: grey;
    text-align: center;
}

.post_body{
    border-style: solid;
    border-color: grey;
}

.post_infos{
    border-style: solid;
    border-color: grey;
    text-align: end;
}

.new_post label,textarea,input,button{
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.flex{
    display: flex;
    flex-direction: row;
    direction: rtl;
}