{% load static %}

<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <title>Microlly</title>

        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
                crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style_base.css' %}" />
        <link rel="shortcut icon" type="image/png" href="{% static 'media/favicon.ico' %}" />

<body>
        <div class="pure-g">
                <div class="pure-u-1-5"></div>
                <div class="pure-u-3-5" id="body_div">
                        <div class="navbar">
                                <h1 style="text-align: center">Microblogging</h1>
                                <ul>
                                        <li>
                                                <form class="form-inline" action="{% url 'microblogging:index' %}"
                                                        method="POST">
                                                        {% csrf_token %}
                                                        <button class="btn btn-outline-light" type="submit">HOME</button>
                                                </form>
                                        </li>

                                        <li>
                                                <form class="form-inline" action="{% url 'microblogging:register' %}"
                                                        method="POST">
                                                        {% csrf_token %}
                                                        <button class="btn btn-outline-light" type="submit">Register</button>
                                                </form>
                                        </li>

                                        <li>
                                                {%if user.is_authenticated %}
                                                        <form class="form-inline" action="{% url 'microblogging:log_out' %}"
                                                                method="POST">
                                                                {% csrf_token %}
                                                                <button class="btn btn-outline-light" type="submit">Logout</button>
                                                        </form>       
                                                {% else %}
                                                        <form class="form-inline" action="{% url 'microblogging:log_in' %}"
                                                                method="POST">
                                                                {% csrf_token %}
                                                                <button class="btn btn-outline-light" type="submit">Login</button>
                                                        </form>
                                                {% endif %}
                                        </li>
                                        {%if user.is_superuser %}
                                                <a href="/admin">Admin</a>
                                        {% endif %}

                                </ul>
                        </div>
                        <div class="content">
                                
                                {% block content %}
                                {% endblock %}
                        </div>
                </div>
                <div class="pure-u-1-5"></div>
        </div>
</body>

</html>