{% extends "_base.html" %}
{% block content %}


{% if user.is_authenticated %}
    <p>Welcome {{ user.username }}</p>
    <form class="form-inline" action="{% url 'microblogging:new_post' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-outline-light" type="submit">New Post</button>
    </form>
{% endif %}

{% if latests_posts %}
    <article class="list_posts">
        {% for post in latests_posts %}
        <div class="post_list">
            <a href="{% url 'microblogging:post_detail' post.pk %}">
                <h3>{{post.title}}</h3>
            </a>
            <small>{{post.author}} - {{post.update_date}}</small>
        </div>
        <p></p>
        {% endfor %}
    </article>
{% else %}
    <h1>Pas de cotenu ici ¯\_(ツ)_/¯</h1>
{% endif %}

{% endblock %}