{% extends '_base.html' %}
{% block content %}

<form action="{% url 'microblogging:log_in' %}" method="POST">
    {% csrf_token %}
    {{form}}

    <button type="submit">Login</button>
</form>

{% endblock %}