{% extends '_base.html' %}
{% block content %}

<form class="new_post" action="{% url 'microblogging:new_post' %}" method="POST">
    {% csrf_token %}
    {{form}}

    <button type="submit">Save new post</button>
</form>



{% endblock %}