{% extends "_base.html" %}
{% block content %}
<div class="post_container">
    <div class="post">
        <div class="post_title">
            <h1>{{post.title}}</h1>
        </div>
        
        <div class="post_body">
            {{post.body}}
        </div>
        
        <div class="post_infos">
            <small>
                {{post.author}}
                {{post.update_date}}
                {% if post.update_date > post.creation_date %}
                    edited.
                {% endif %}
            </small>
        </div>
    </div>
    {% if user == post.author or user.is_superuser %}
    <div class="flex">
        <form class="form-inline" action="{% url 'microblogging:post_delete' post.pk %}"
            method="POST">
            {% csrf_token %}
            <button class="btn btn-outline-light" type="submit">Delete</button>
        </form>
    </div>
    
    {% endif %}
</div>

{% endblock %}