{% extends '_base.html' %}

{% block content %}
<form action="{% url 'microblogging:register' %}" method="POST">
    
    {% csrf_token %}
    {{form}}
    <button type="submit"> Register </button>
</form>

{% endblock %}